.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md
*.o
**/*.cpp
**/*.hpp
client/scripts/**
server/src/**
node_modules/**
docs/**
test/**
build/**
scripts/**
tsconfig.js
tsconfig.tsbuildinfo